<div class="col-lg-4">
  <div class="card card-lift--hover shadow border-0 mt-5 h-80">
    <div class="card-body py-4 my-4">
      <h5 class="text-primary text-uppercase"><%= lesson.name %></h5>
    </div>
  </div>
</div>
