<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <%= f.label :category, class: "text-default lead" %>
      <%= f.collection_select :category_id, @categories,
                              :id, :name, {prompt: "Select category"}, required: true,
                              class: "form-control",
                              id: "category_select" %>
    </div>
    <div class="col-lg-5">
      <%= f.label :word, class: "text-default lead" %>
      <%= f.collection_select :word_id, @words,
                              :id, :name, {prompt: "Select word"}, required: true,
                              class: "form-control",
                              id: "words_select" %>
    </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" id="add_word">Add more word</button>
  </div>
</div>
