<section class="section section-shaped section-lg">
  <%= render "shared/br_circles" %>
  <div class="container pt-lg-md">
    <div class="row justify-content-center">
      <%= link_to new_admin_lesson_path, remote: true,
        class: "btn btn-outline-success col-lg-3" do %>
          <span class="btn-inner--icon">
            <i class="fa fa-plus" data-toggle="tooltip" title="New lesson"></i>
          </span>
        <%= t ".add_lesson" %>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <%= render @lessons %>
        </div>
      </div>
    </div>
  </div>
</section>
