<section class="section section-shaped section-lg">
  <% render "shared/br_circles" %>
  <div class="container pt-lg-md">
    <div class="row justify-content-center">
      <%= render "form" %>
    </div>
  </div>
</section>

